:root {
    --wht: rgb(255, 255, 255);
    --blk: rgb(0, 0, 0);
    --blk1: rgb(30, 30, 30);
    --blk2: rgb(37,37,38);
    --grn: rgb(120, 153, 34);

    --1: hsl(25, 50%, 30%);
    --2: hsl(20, 30%, 20%);
    --3: hsl(40, 40%, 40%);

    --mainFont: 'Open Sans', sans-serif;
    --headFont: 'PT Sans', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
body {
    margin: 0;
    font-family: var(--mainFont);
}

/* Banner */
.banner {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50dvh;
    position: relative;
}
.bar {
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
}
@media (min-width:768px) {
    .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.bar_title {
    color: white;
    font-weight: lighter;
    font-family: var(--mainFont);
}
@media (max-width:770px) {
    .bar_title {
        margin: 0;
        padding-top: 1rem;
    }
}
.bar_title > span {
    font-weight: bold;
}
.bar_links {
    display: flex;
    text-align: center;
    gap: 2rem;
}
@media (max-width:770px) {
    .bar_links {
        justify-content: center;
        flex-direction: column;
        margin-top: 1rem;
    }
}
.bar_links > a {
    color: var(--wht);
}
.banner_text {
    height: 100%;
}
.banner_text > h2 {
    text-align: center;
    color: var(--wht);
    font-family: var(--mainFont);
    font-weight: lighter;
}
.banner_text > h2 > span {
    font-weight: bold;
}